/* Coolors Exported Palette - coolors.co/173354-2d69a3-4c9fd8-75caf2-80ddf2 */
/* 
$color1: #173354; //rgba(23, 51, 84, 100)
$color2: #2d69a3; //rgba(45, 105, 163, 100)
$color3: #4c9fd8; //rgba(76, 159, 216, 100)
$color4: #75caf2; //rgba(117, 202, 242, 100)
$color5: #80ddf2; //rgba(128, 221, 242, 100) */

$color1: #4c5860; //rgba(76, 88, 96, 100)
$color2: #5299d3; //rgba(82, 153, 211, 100)
$color3: #b7b7a3; //rgba(183, 183, 163, 100)
$color4: #1b5572; //rgba(27, 85, 114, 100)
$color5: #eaf2ea; //rgba(234, 242, 234, 100)